@font-face {
	font-family: 'BebasBold';
	src: url('../fonts/Bebas/BebasBold/BebasBold.eot');
	src: url('../fonts/Bebas/BebasBold/BebasBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bebas/BebasBold/BebasBold.woff') format('woff'),
	url('../fonts/Bebas/BebasBold/BebasBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BebasLight';
	src: url('../fonts/Bebas/BebasLight/BebasLight.eot');
	src: url('../fonts/Bebas/BebasLight/BebasLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bebas/BebasLight/BebasLight.woff') format('woff'),
	url('../fonts/Bebas/BebasLight/BebasLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BebasRegular';
	src: url('../fonts/Bebas/BebasRegular/BebasRegular.eot');
	src: url('../fonts/Bebas/BebasRegular/BebasRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bebas/BebasRegular/BebasRegular.woff') format('woff'),
	url('../fonts/Bebas/BebasRegular/BebasRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot');
	src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto/RobotoRegular/RobotoRegular.woff') format('woff'),
	url('../fonts/Roboto/RobotoRegular/RobotoRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot');
	src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto/RobotoLight/RobotoLight.woff') format('woff'),
	url('../fonts/Roboto/RobotoLight/RobotoLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoMedium';
	src: url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot');
	src: url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto/RobotoMedium/RobotoMedium.woff') format('woff'),
	url('../fonts/Roboto/RobotoMedium/RobotoMedium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot');
	src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto/RobotoBold/RobotoBold.woff') format('woff'),
	url('../fonts/Roboto/RobotoBold/RobotoBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RalewayRegular';
	src: url('../fonts/Raleway/RalewayRegular/RalewayRegular.eot');
	src: url('../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway/RalewayRegular/RalewayRegular.woff') format('woff'),
	url('../fonts/Raleway/RalewayRegular/RalewayRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RalewayBold';
	src: url('../fonts/Raleway/RalewayBold/RalewayBold.eot');
	src: url('../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway/RalewayBold/RalewayBold.woff') format('woff'),
	url('../fonts/Raleway/RalewayBold/RalewayBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}